<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Gamer Store - Listado de Clientes</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <section th:replace="~{cliente/fragmentos :: botonesAgregar}"></section>
        
        <section th:replace="~{cliente/fragmentos :: agregarCliente}"></section>
        
        <section th:replace="~{cliente/fragmentos :: listadoClientes}"></section>
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>

