<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th=http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla :: head}">
        <title>InfoPaises</title>
    </head>
    <body>

        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">

        </section>

        <section th:fragment="agregarPais">

        </section>


        <section th:fragment="listadoPaises" id="paises">

        </section>

        <section th:fragment="editarPais">

        </section>

        <section th:fragment="botonesEditar">

        </section>
    </body>
</html>
