<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Gamer Store - Soporte Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <section th:replace="~{soporte/fragmentos :: botonesAgregar}"></section>
        
        <section th:replace="~{soporte/fragmentos :: agregarSoporte}"></section>
        
        <section th:replace="~{soporte/fragmentos :: listadoSoportes}"></section>
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>


