
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none; 
}


header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 5px;
}

nav a:hover {
    background-color: #0dcaf0;
    color: #333;
}


main {
    padding: 20px;
    margin-top: 20px;
}

article p {
    color: #666;
}

h2 {
    text-align: center;
    background-color: #0dcaf0;
    color: white;
    padding: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
    background-color: #e9ecef;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


.aside {
    background-color: #333;
    color: white;
    padding: 20px;
    float: left;
    width: 20%;
    height: 300px; 
    box-sizing: border-box;
}


.section {
    background-color: #fff;
    padding: 20px;
    margin-left: 22%; 
    box-sizing: border-box;
}

#logo {
    color: white;
    background-color: #0dcaf0;
    text-align: center;
    padding: 10px;
}

.noticia {
    color: white;
    background-color: #dc3545;
    padding: 10px;
    margin-bottom: 20px;
}
